<h1>Questions</h1>
<div class="questions-list">
    <% @questions.each do |question| %>
      <article>
        <h5><a href="/questions/<%=question.id%>"><%= question.title %></a></h5>
          <p>
            <span><%= question.author.name %></span>
            <span><%= question.votes.total_value %></span>
          </p>
      </article>
    <% end %>
</div>
