
<h3>Please log in</h3>

<%= erb :'partials/_errors', layout: false, locals: {errors: @errors}%>

<form action="/sessions" method="Post">
  <input type="text" placeholder="email" name="email" >
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="login">
</form>

