
<h3>Please register</h3>

<%= erb :'partials/_errors', layout: false, locals: {errors: @user.errors.full_messages} %>

<form action="/users" method="Post">
  <input type="text" placeholder="name" name="user[name]" value="<%=@user.name%>">
  <input type="text" placeholder="email" name="user[email]" value="<%=@user.email%>">
  <input type="password" placeholder="password" name="user[password]">
  <input type="submit" value="register">
</form>

