
<h3>Hi, <%= current_user.name %> </h3>

<p>Here are your statistics:</p>
<ul>
  <li>
    You posted <%=   %>

    Your photo: <img src="<%=current_user.user_photo%>" alt="profile picture">
  </li>
</ul>
