<h1>Edit Answer</h1>
<form action="/questions/<%= @question.id %>/answers" method="POST">
<input type="hidden" name="_method" value="PUT">
<label for="answer_body">Answer Body</label>
<input type="textarea" name="answer_body" value="<%= answer.answer_body %>" id="answer_body">
<input type="submit" value="Update Answer">
</form>

